<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="1" name="Test">
    <classes>
      <class name="com.bookswagon.testcases.LogOutPageTest"/>
      <class name="com.bookswagon.testcases.HomePageTest"/>
      <class name="com.bookswagon.testcases.LoginPageTest"/>
   	  <class name="com.bookswagon.testcases.SignUpPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
